{
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "@babel/plugin-transform-typescript",
      {
        isTSX: true
      }
    ]
  ],
  "presets": [
    "@babel/preset-env",
    "@babel/preset-react"
  ]
}